<footer class="footer">
    <div class="footer__wrapper">
        <figure class="footer__logo">
            <img class="footer__logo--size" src="assets/logo.png" alt="Logo de la compañía">
        </figure>

        <div class="footer__social">
            <p class="footer__p" aria-label="Follow us"><strong>Follow us</strong></p>
            <ul class="footer__ul footer__ulredes">
                <li class="footer__li"><a href="" class="footer__a"><img class="footer__img" src="assets/x_icon.png"
                            alt="Icono de X"></a>
                </li>
                <li class="footer__li"><a href="" class="footer__a"><img class="footer__img" src="assets/fb_icon.png"
                            alt="Icono de Facebook"></a>
                </li>
                <li class="footer__li"><a href="" class="footer__a"><img class="footer__img" src="assets/yt_icon.png"
                            alt="Icono de YouTube"></a>
                </li>
            </ul>
        </div>

        <ul class="footer__ul footer__ul--position">
            <li class="footer__li">
                <p class="footer__p" aria-label="Destinations"><strong>Destinations</strong></p>
                <ul class="footer__ul">
                    <li class="footer__li">Madrid</li>
                    <li class="footer__li">Barcelona</li>
                    <li class="footer__li">London</li>
                    <li class="footer__li">Paris</li>
                    <li class="footer__li">Rome</li>
                </ul>
            </li>
            <li class="footer__li">
                <p class="footer__p" aria-label="Legal information"><strong>Legal information</strong></p>
                <ul class="footer__ul">
                    <li class="footer__li">Privacy policy</li>
                    <li class="footer__li">Cookie policies</li>
                    <li class="footer__li">data treatment</li>
                </ul>
            </li>
            <li class="footer__li">
                <p class="footer__p" aria-label="Book your flight"><strong>Book your flight</strong></p>
                <ul class="footer__ul">
                    <li class="footer__li">Search flights</li>
                    <li class="footer__li">Price calendar</li>
                    <li class="footer__li">Destination map</li>
                    <li class="footer__li">Flight times</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="footer__p footer__p--color">
        <p>Website terms of use | Site map | environment | contact@airilines.com</p>
    </div>
</footer>