<div class="wrapper">
    <section class="cards">
        <img class="cards__image" src="assets/chicago.jpg" alt="Imagen de tarjetas">
        <div class="cards__content">
            <h1 class="cards__h1">Chicago</h1>
            <p class="cards__p">From $600.00</p>
        </div>
    </section>

    <section class="cards cards__middle">
        <img class="cards__image cards__middleimg" src="assets/porto.jpg" alt="Imagen de tarjetas">
        <div class="cards__content">
            <h1 class="cards__h1">Porto</h1>
            <p class="cards__p">From $600.00</p>
        </div>
    </section>

    <section class="cards">
        <img class="cards__image" src="assets/mire.png" alt="Imagen de tarjetas">
        <div class="cards__content">
            <h1 class="cards__h1">Chicago</h1>
            <p class="cards__p">From $600.00</p>
        </div>
    </section>
</div>